/* ------------------------------------------------ */
/* ------------------------ TEXT-PAGE ------------- */
/* ------------------------------------------------ */

.textPage {
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../stars.jpg');
    background-position: 50% 50%;
    background-size: cover;
    font-family: 'Rubik', sans-serif;
    background-color: black;
}
.textPage .wrapper {
    display: block;
    position: relative;
}
.textPage .columns {
    width: 100%;
    box-sizing: border-box;
    padding: 0 40px;
}
.textPage .spaceVentures {
    margin: auto;
    width: 90%;
    font-size: 800%;
    height: 200px;
    text-shadow: 2px 2px 10px #000000;
}
.textPage .space {
    font-weight: 600;
    font-size: 3rem;
    position: relative;
    z-index: 1
}
.textPage .ventures {
    font-family: "Times New Roman", serif;
    font-weight: bold;
    font-size: 4rem;
    opacity: 0.7;
    position: relative;
    left: 45px;
    bottom: 120px;
}
.textPage .titleTextPage {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 5px;
}
.textPage .textStyle {
    line-height: 1.6;
    margin: 6px 0;
    font-weight: 400;
    font-size: 0.8rem;
}
.textPage .quotes {
    font-style: italic;
    font-weight: 400;
}
.textPage .quoteA {
    font-size: 1.4rem;
    line-height: 1.3;
    position: relative;
    left: 40px;
    margin: 20px;
    font-family: 'rubik', sans-serif;
}
blockquote {
    padding: 8px;
    max-width: 500px;
    font-size: 4rem;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    span {
      position: relative;
      z-index: 1;
    }
    &::before, &::after {
      display: block;
      position: absolute;
      font-size: 3rem;
      font-weight: bold;
      color: white;
      opacity: 0.8;
      z-index: 0;
      line-height: 1;
      text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    }
    &::before {
      content: '“';
      top: -0.3rem;
      left: -1.5rem;
    }
    &::after {
      content: '”';
      bottom: -1.5rem;
      left:  6.5rem
    }
  }
.textPage .gradient .quoteB {
    display: none;
}
.insertLineBreak::before {
    content: "\a";
    white-space: pre;
}
.textPage .pinkText {
    font-size: 0.85rem;
    color: #d42b6f;
    cursor: pointer;
}
.textPage .linkUnderline {
    text-decoration: underline;
}
.arrow{
    font-size: 1.5rem;
    cursor: pointer;
}
.textPage .majorTom {
    display: none;
}

/* ------------------------------------------------ */
/* ------------------------ FOOTER ---------------- */
/* ------------------------------------------------ */
footer {
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}
footer section {
    display: flex;
    justify-content: space-between;
}
.cookies {
    box-sizing: border-box;
    position: fixed;
    color: #fff;
    bottom: 0;
    width: 100%;
    font-family: "Rubik", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    background-color: #001222;
    z-index: 5;
}
.cookies .textCookies {
    position: relative;
    margin-right: 20px;
    font-size: 0.8rem;
    color: #dd297d;
}
.cookies .buttonCookies {
    position: static;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(5, 5, 107);
    text-transform: uppercase;
    font-weight: bold;
    color:#fff;
}

/* ------------------------------------------------ */
/* ------------------------ DESKTOP --------------- */
/* ------------------------------------------------ */

@media screen and (min-width:1200px) {
    .textPage .wrapper {
            display: flex;
    }
    .textPage .columns{
            padding: 50px 60px;
    }
    .textPage .spaceVentures {
            margin: 0;
            padding: 0;
            margin-bottom: 100px;
    }
    .textPage .space {
            font-size: 7rem;
    }
    .textPage .ventures {
            font-size: 9rem;
            left: 5px;
            bottom: 85px;
    }
    .textPage .titleTextPage {
            font-size: 2rem;
    }
    .textPage .textStyle .pinkText {
            padding: 0 20px;
    }
    .textPage .textStyle {
            font-size: 1rem;
    }
    .textStyle::after {
            clear: both;
    }
    .textPage .quoteA {
            font-size: 1.5rem;
    }
    .textPage .gradient .quoteB {
            display: block;
            font-size: 2.7rem;
            line-height: 1.2;
            font-weight: 300;
            background-image: linear-gradient(to bottom right, #D200A2, white, #D200A2);
            color: #de466c;
            -webkit-background-clip:text;
            -webkit-text-fill-color:transparent;
            background-clip: text;
            opacity: 0.5;
            padding: 40px 0;
            width: 400px;
    }
    .textPage .majorTom {
            width: 85px;
            height: 135px;
            display: block;
            transform: rotate(4deg);
            float: right;
            margin: 3px;
            padding: 4px;
            display: block;
    }
    .insertLineBreak::before {
        content: none;
    }
    .cookies .textCookies {
        font-size: 1rem;
    }
}